body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orangered-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding: 0px;
}
section{
    height: 500px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    padding-bottom: 10px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    border: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 100;
}
.down-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 5px;
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
}

.div-bag{
    box-shadow: 10px 10px 40px gray;
    border-left: 2px blue;
    background-color: white;
    height: 50%;
    
}
.sec-experiences{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, black);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}