body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding: 0px;
}
section{
    height: 500px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    border: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 100;
}
.down-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}